.section-divider {
  display: flex;
  justify-content: center;
  background: transparent;
  padding-block: 0;

  &__image {
    width: 100%;
    max-width: 1200px;
    height: auto;

    &--top {
      transform: translateY(-1px);
    }

    &--bottom {
      transform: translateY(1px);
    }
  }
}
