.section-divider {
  background: transparent;
  padding-block: 0;
  background-color: #fff;
  width: 100%;
  position: relative;
  &__image {
    width: 100%;
    height: auto;
    z-index: 1;
    inset: 0;
    position: relative;
    top: -1px;
    &--top,
    &--topBlue {
      transform: translateY(-1px);
      top: 4px;
    }

    &--bottom,
    &--bottomBlue {
      margin-top: -10px;
      top: -1px;
    }
  }
}
